@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    min-height: 100vh;
}

#container {
    display: flex;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_menu {
    background-image: url("./banner.png");
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.form-container {
    display: flex !important;
    justify-content: start !important;
}

.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.form button {
    margin-bottom: 5px;
}

.titulo_form {
    font-family: 'Oswald', sans-serif;
}

.img_txt {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.whats_num {
    font-family: 'Oswald', sans-serif;
}

.responsive-size {
    width: 30% !important;
}

@media (max-width: 1180px) {
    .responsive-size {
        width: 50% !important;
    }

    .smoke {
        display: none;
    }
}

@media (max-width: 800px) {
    .responsive-size {
        width: 60% !important;
    }

    .smoke {
        display: none;
    }
}

@media (max-width: 450px) {
    .responsive-size {
        width: 100% !important;
    }

    .smoke {
        display: none;
    }
}
